.news-board-container, .story-collections {
  display: flex;

  .source-type-bar {
    box-sizing: border-box;
    flex-basis: 54px;
    background-color: $dark-background-color;

    .news-board-tab {
      padding: 10px;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      margin: 10px 5px;
      display: block;
      cursor: pointer;

      &.active {
        background-color: #fff;
        border-radius: 100%;

        .icon {
          color: $secondary-color;
        }
      }

      .toast {
        position: absolute;
        background: $primary-color;
        padding: 10px 19px;
        margin-left: -15px;
        margin-top: -2.1rem;
        color: #fff;
        display: flex;
        transition: .5s transform;
        transform: translateX(-25rem);

        .close {
          padding-left: 10px;
          font-size: 1.3rem;
          margin-top: -2px;
          cursor: pointer;
        }

        .message {
          padding-left: 10px;
        }

        &.show {
          transform: translateX(0);
        }
      }

      .icon {
        cursor: pointer;
        font-size: 1.5em;
        color: $primary-color-light;
      }
    }

    .source-filter.news-board-tab {
      background: #e0ced7;
      width: 100%;
      margin: 0;
      height: $secondary-header-nav-height;
      box-sizing: border-box;
      padding: 15px;

      &.hidden {
        visibility: hidden;
      }
    }
  }
  .configured-feeds-container {
    background-color: $background-color;
    flex-basis: $side-panel-width;
    border-right: 1px solid lighten($primary-color, 35%);
    border-left: 1px solid lighten($primary-color, 35%);


    @media (max-width: $tablet-max-width) {
      flex-basis: $side-panel-width-tab;
    }

    .search-bar {
      height: $secondary-header-nav-height;
      background-color: $dark-background-color;
      padding: 10px 10px 5px;
      box-sizing: border-box;

      input {
        padding: 6px;
      }

      .input-addon {
        width: 20px;
        font-size: 20px;
        padding: 2px;
        color: $secondary-color;
      }
    }

    .newsfeeds-notify {
      position: absolute;
      background: $secondary-color;
      color: #ffffff;
      font-size: 1rem;
      border-radius: 5px;
      padding: 9px 15px;
      margin-top: 30px;
      margin-left: 100px;
      box-shadow: 0 1px 7px 2px #bfb8b6;
    }

    &.expand {
      flex-basis: 2 * $side-panel-width;

      .feed {
        flex-basis: 50%;

        &:nth-child(odd) {
          border-right: 1px solid lighten($primary-color, 35%);
        }
      }

      .expand-icon {
        left: 46 + (2 * $side-panel-width);
      }

      @media (max-width: 1100px) {
        flex-basis: $side-panel-width;

        .feed {
          flex-basis: 100%;

          &:nth-child(odd) {
            border-right: 1px solid transparent;
          }
        }

        .expand-icon {
          left: 46 + $side-panel-width;
        }
      }
    }

    .expand-icon {
      cursor: pointer;
      width: 19px;
      height: 50px;
      display: inline-block;
      position: fixed;
      top: 45vh;
      left: 46 + $side-panel-width;
      background: url("./images/expand-icon.png") no-repeat;
      background-size: contain;

      @media (max-width: 1100px) {
        display: none;
      }
    }

    .refresh-container {
      background: $dark-background-color;
      height: $secondary-header-nav-height;
      box-sizing: border-box;
      padding: 10px;
    }

    .feeds-container {
      height: calc(100vh - #{$main-header-height} - #{$secondary-header-nav-height});
      overflow-y: auto;
    }

    .feeds {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px;
    }

    .feed {
      min-height: 105px;
      cursor: pointer;
      line-height: 24px;
      padding: 8px 13px 13px 16px;
      clear: both;
      float: none;
      box-sizing: border-box;
      flex-basis: 100%;

      &__description {
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        font-size: 12px;
        color: $primary-color-light;
        line-height: 18px;
        max-height: 54px;
      }

      &__title {
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 1.12rem;
        color: $primary-color;
        line-height: 24px;
      }

      &__media img {
        width: 100%;
        height: 100%;
        max-width: 230px;
        max-height: 100px;
      }

      &__media {
        float: right;
        width: 110px;
      }

      &__source div {
        display: inline;
        font-family: "Lato", sans-serif;
        font-size: 13px;
        color: #917A99;
        letter-spacing: 0;
        padding: 2px 5px;
      }

      &--highlight {
        background-color: #FFFFFF;

        .feed__title {
          color: $secondary-color;
        }
      }
    }

  .configured-sources {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .collection-name {
    padding: 2% 0% 2% 6%;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    cursor: pointer;
    color: $primary-color-light;
    word-break: break-all;
    }

    .active{
      background-color: white;
      color: $secondary-color;
    }

    .create_collection {
      font-family: "Lato", sans-serif;
      font-size: 17px;
      color: $primary-color-light;
      padding: 5% 0 3% 8%;
      cursor: pointer;
    }

    .new-collection-input-box {
      width: 80%;
      margin: 6%;
      display: table;
      border: none;
      border-bottom: 2px solid $primary-color-light;
    }

    .save-collection {
      background-color: $secondary-color;
      color: white;
      margin-right: 15px;
    }

    .cancel-collection {
      color: $primary-color-light;
      margin-right: 15px;
    }
    .collection-popup-overlay{
      background-color: rgba(70, 65, 74, 0.6);
      top: 68px;
      position: fixed;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }

  }

  .article {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.story-collections .source-type-bar .news-board-tab .toast {
  display: none;
}

.story-collections .configured-feeds-container {
  border-left: 0;
}

.default-message {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  color: #a7a6a6;
  padding-top: 16rem;
}
