.display-article {
  flex: 1;
  height: calc(100vh - #{$main-header-height});
  overflow: auto;

  .back {
    text-align: left;
    &__button {
      color: $primary-color-light;
      font-size: $mid-font-size;
      border: 0;
      padding-top: 4px;
    }
    .icon{
      vertical-align: baseline;
      font-size: 1.3rem;
      margin-right: 5px;
    }
  }

  &__header {
    padding: 14px 10px;
    background: $dark-background-color;
    text-align: right;
    height: $secondary-header-nav-height;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .bookmark {
      color: $primary-color-light;
      cursor: pointer;
      display: inline-block;

      &.active {
        color: $primary-color;
      }
    }

    .collection {
      color: $primary-color-light;
      cursor: pointer;
      display: inline-block;
      margin-right: 1.4rem;
    }

    .icon {
      font-size: 1.5rem;
      vertical-align: sub;
    }
  }

  .article {
    padding: 2rem;

    a {
      color: $secondary-color;
      text-decoration: underline;
    }

    &__title {
      font-size: 2rem;
      color: $secondary-color;
      word-wrap: break-word;
    }

    &__details {
      color: $primary-color-light;
      margin-bottom: 2rem;
      font-size: 0.8rem;
    }

    &__desc {
      line-height: 1.5rem;

      img {
        display: block;
        margin: 1rem auto;
        max-width: 100%;
      }
    }

    &__images {
      text-align: center;
      img {
        margin: 1rem;
        max-width: 100%;
      }
    }

    &__original-source {
      margin: 2rem 0 1rem;
    }
  }

  .default-message {
    text-align: center;
    font-size: 2rem;
    color: #a7a6a6;
    padding-top: 3rem;
  }
}

.story-display-article {
  flex: 0;
  flex-basis: $side-panel-width;
  background-color: #ffffff;
  border-right: 1px solid lighten($primary-color, 35%);

  @media (max-width: $tablet-max-width) {
    flex-basis: $side-panel-width-tab;
  }
}

.toolTip {
  display: none;
  background-color: #ffffff;
  border: 1px solid #917fa9;
  position: fixed;
  height: 42px;
  padding: 3px;
  cursor: pointer;
  box-shadow: 2px -1px 4px #917fa9;

  #add {
    border-right: 2px solid #917fa9;
  }

  .icon {

    &:before {
      vertical-align: sub;
      margin-right: 4px;
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  button {
    color: #3a0e5f;
    text-transform: none;
    padding: 6px;
  }
}
