@media (max-width: $mobile-max-width) {
  #main {
    display: none;
  }
  body {
    text-align: center;
    margin-top: 50%;
  }
  body::after {
    content: "Not yet supported at this resolution";
    color: $secondary-color;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
.login-page {
  .container {
    padding: 1rem 6rem;
  }
  .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $background-color;
  }

  .branding {
    .logo {
      background-color: $primary-color-dark;
      padding: 5px 10px 10px;
      width: 13rem;
    }

    .makenews-desc {
      color: $primary-color-light;
      margin: 2rem 0;
    }

    .watch-demo {
      display: block;
      margin: 2rem 0 0;
      color:$primary-color-light;
      text-decoration: underline $primary-color-light;

      .arrow{
        font-size: large;
        padding-right: 0.2rem
      }
    }
  }

  .login-box {
    margin-left: 10px;
  }

  .empty-box {
    padding: 5rem;
    background: $background-color;
  }

  .screenshots {
    background: -webkit-linear-gradient($background-color 50%, white 50%);
    background: -o-linear-gradient($background-color 50%, white 50%);
    background: -moz-linear-gradient($background-color 50%, white 50%);
    background: linear-gradient($background-color 50%, white 50%);

    img {
      max-width: 100%;
    }
  }

  .details {
    display: flex;
    .page {
      h2 {
        color: $primary-color;
        font-weight: 100;
      }
      .description {
        color: $primary-color-light;
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding-right: 1rem;
      }
    }
  }
}

.login {
  text-align: center;
  .input-container {
    width: 20rem;
    text-align: center;

    input {
      display: block;
      padding: 10px;
      font-size: 1.05rem;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      margin: 0 0 1rem;
      background: $dark-background-color;
      color: $primary-color-light;
    }
  }
}