.header {
  height: $main-header-height;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: $primary-color-dark;
  border-bottom: 4px solid $secondary-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &__logo {
    width: 177px;
    float: left;

    img {
      width: 145px;
      height: 23px;
      margin-left: 28px;
      margin-top: 20px;
    }
  }
}

.header-tabs {
  height: 64px;
  margin-left: 200px;
}

.header-tabs--left {
  float: left;
  height: 64px;

  &__item {
    float: left;
    width: 144px;
    height: 64px;
    color: #fff;
    margin: 0 -1rem 0 1.5rem;

    &__name {
      float: left;
      margin-top: 20px;
      margin-left: 30px;
      width: 110px;
      height: 24px;
      cursor: pointer;
    }

    &.active {
      background-color: $secondary-color;
    }
  }
}

.header-tabs-right {
  float: right;
}

.header-tabs--configure {
  float: left;
  height: 64px;
  width: 100px;
  &__image {
    float: left;
    margin-top: 20px;
    margin-left: 40px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &.active {
    background-color: $secondary-color;
  }
}

.user-profile {
  float: left;
  min-width: 180px;
  height: 64px;
  cursor: pointer;
  color: white;
  padding: 0;
  display: flex;
  box-sizing: border-box;

  img {
    width: 36px;
    height: 36px;
  }

  &__image {
    margin-top: 13px;
    margin-left: 10px;
  }

  &__name{
    margin-top: 17px;
    margin-left: 10px;
    font-size: large;
  }

  &__downarrow{
    margin-top: 19px;
    margin-left: 10px;
  }

  &.active {
    background-color: $secondary-color;
  }
  &.__dropdown {
    position: absolute;
  }

  &:hover {
    .user-profile--dropdown {
      display: block;
    }
  }
}

.user-profile--dropdown {
  position: absolute;
  top: 64px;
  right: 0;
  min-width: 180px;
  background: $primary-color-dark;
  z-index: 1;
  display: none;
  list-style-type: none;

  li {
    a {
      color: #fff;
      display: inline-block;
      width: 100%;
      padding: 12px 0 12px 26px;
    }

    &:hover {
      background-color: $secondary-color;
    }
  }
}
